doctype html
html(lang="en")
    head 
        block head
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,300i,700")
            link(rel="stylesheet" type="text/css" href="/css/style.css")
            link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
            title Natours | #{title}
    body   
        // HEADER
        include _header

        // CONTENT
        block content 
            h1 this is a placeholder

        // FOOTER
        include _footer

        script(src='/js/login.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.0/axios.min.js' integrity='sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==' crossorigin='anonymous' referrerpolicy='no-referrer')


